
html {
    font-size: 62.5%;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.85;
    background-color: #fefff;
}
header {
    overflow: hidden;
}

li {
    display: inline-block;
    margin-right: 1rem;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none !important;
}
/* NAVIGATION */

nav img {
    width: 4rem;
}
.scroll {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    bottom: 3rem;
    width: 3rem;
    cursor: pointer;
}

nav {
    z-index: 10;
    box-shadow: 1px 2px 15px rgba(34, 34, 34, .1);
    -webkit-box-shadow: 1px 2px 15px rgba(34, 34, 34, .1);
    width: 100%;
    background-color: white;
    padding: 2rem 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

nav ul a {
    font-size: 1.4rem;
    margin: 0 .8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .57);
}


.active {
    display: inline-block;
    text-decoration: none;
}

.active:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #9c2129;
    -webkit-transition: all .4s;
    -o-transition: width .4s;
    -webkit-transition: width .4s;
    transition: width .4s;
    margin-top: .5rem;
}

.active:hover::after,
.active:after {
    width: 100%;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
}


section {
    margin-bottom: 4%;
    }

div img {
    margin-right: 5%;
    margin-bottom: 5%;
}


.bg{
    background-image: url(../img/background.jpg);

}

.small{
    color: #fff;
    background-repeat: no-repeat;
    padding: 3% 0;
    width: 100%;

}

h2{
    text-align:center;
}



#menu {
    display: none;
}


/*@media (max-width: 767px) {
     nav li{
        display:none;
        }
    #menu {
        display: block;
        width: 100%;
        margin-left: 20%;
    }

}
*/

#NavStrip {
      list-style-type: none !important;
          line-height: 0.85;
          padding-top: 20px;
}

#NavStrip label {
    display: none;

}
#menu-toggle {
  display: none;
}

@media all and (max-width: 700px) and (min-width: 0px) {
  #NavStrip {
    text-align:right;
}
  #NavStrip label {
    display: block;
    color: #9c2129;
    font-size: 200%;
    cursor:pointer;}
  #NavStrip #nav {
    display: none;}
  #NavStrip li {
    width: 100%;
    border:0px;}
  #menu-toggle:checked + #nav {
    display: block;
    line-height: 1.85;
}
  #NavStrip label:active #nav {
    display: none;
}