/*

Reset

 */



html {

  font-size: 62.5%;

  min-height: 100%;

}



*,

*:before,

*:after {

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  margin: 0;

  padding: 0;

}



body {

  min-height: 100%;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  font-family: 'Raleway', sans-serif;

  font-size: 1.5rem;

  line-height: 1.85;

  background-color: #fff;

}



figure {

  margin: 0;

}

/* VIDEO */

.salon-presentation, .artistes, .hygiene {

  max-width: 1140px;

  margin: auto;


}



li {

  display: inline-block;

  margin-right: 1rem;

  font-weight: 400;

  color:#c7c7c7;

}



a {

  color: inherit;

  text-decoration: none;

}

/* HEADINGS */



h1 {

  position: absolute;

  top: 50%;

  left: 50%;

  -webkit-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  color: white;

  transform: translate(-50%, -50%);

}



h2 {

  color: #fff;

  margin: 3rem 0;

  font-weight: 800;

  letter-spacing: .2rem;

  text-transform: uppercase;

  letter-spacing: .9rem;

  position: relative;

}



h3 {

  margin-bottom: 3rem;

}





/* NAVIGATION */

.main-nav img {

  width: 4rem;

}

.menu {
  display: none;
}

.scroll {

  position: absolute;

  left: 50%;

  -webkit-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  transform: translate(-50%, -50%);

  bottom: 3rem;

  width: 3rem;

  cursor: pointer;

}



.main-nav {

  position: absolute;

  z-index: 10;

  padding: 2rem 4rem;

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-pack: justify;

  -webkit-justify-content: space-between;

  -ms-flex-pack: justify;

  justify-content: space-between;

  -webkit-box-align: center;

  -webkit-align-items: center;

  -ms-flex-align: center;

  align-items: center;

  -webkit-transition: .3s ease-out all;

  -o-transition: .3s ease-out all;

  transition: .3s ease-out all;

}



.main-nav ul a {

  margin: 0 .8rem;

  font-weight: 600;

  color: white;

  ont-size: 1.4rem;

  text-decoration: none;

}



/*test*/

@-webkit-keyframes navAnim {

  0% {

    opacity: 0;

  }



  100% {

    opacity: 1;

  }

}



.visible {

}





/*  pour nav fixé au scroll */

.fixed {

  position: fixed;

  background: #1f1f1f;

  -webkit-animation: navAnim .3s ease-out;

  animation: navAnim .3s ease-out;

  position : relative;

}



.active {

  display: inline-block;

  text-decoration: none;

}



.active:after {

  content: '';

  display: block;

  width: 0;

  height: 2px;

  background: #9c2129;

  -webkit-transition: all .4s;

  -o-transition: width .4s;

  -webkit-transition: width .4s;

  transition: width .4s;

  margin-top: .5rem;

}



.active:hover::after,

.active:after {

  width: 100%;

  -webkit-transition: width .5s;

  -o-transition: width .5s;

  transition: width .5s;

}



.video {

  height: 100vh;

  overflow: hidden;

}





/* DEBUT MAIN : LE SALON */

.salon-presentation {

  margin: 20rem auto 12rem;

}



.contact-section {

  margin: 20rem auto 0;

}



.salon-presentation figure,

.hygiene figure {

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-pack: justify;

  -webkit-justify-content: space-between;

  -ms-flex-pack: justify;

  justify-content: space-between;

  -webkit-box-align: center;

  -webkit-align-items: center;

  -ms-flex-align: center;

  align-items: center;

  margin: 6rem 0;

}



.salon-presentation figcaption {

  width: 40%;

}



.salon-presentation p {

  color: rgba(0, 0, 0, .67);

  margin-bottom: 3rem;

}





.salon-presentation a:hover,

.artistes a:hover {

  background-color: transparent;

  color: #9c2129;

}



.salon-presentation img,

.artistes img {

  -webkit-align-self: center;

  -ms-flex-item-align: center;

  -ms-grid-row-align: center;

  align-self: center;

  width: 50%;

    /* permet de ne pas élargir l'image, s'aligne sur lui même */;

}



/* ARTISTES ET CREATIONS */

.artistes div {

  width: 28%;

  background: #1f1f1f;

  color: white;

  padding: 4rem 2rem 1rem;

  margin: 1rem;

  background-image: url(../img/camille-bg.png);

  background-repeat: no-repeat;

  background-position: 57% -19%;

  -webkit-background-size: auto 37%;

  background-size: auto 37%;

  box-shadow: 1px 2px 15px rgba(34, 34, 34, .1);

  -webkit-box-shadow: 1px 2px 15px rgba(34, 34, 34, .1);

}



.artistes div:nth-child(2) {

  background-image: url(../img/yann-bg.png);

}



.artistes div:nth-child(3) {

  background-image: url(../img/patrice-bg.png);

}



.artistes div:nth-child(4) {

  background-image: url(../img/fanny-bg.png);

}



.artistes img {

  -webkit-align-self: center;

  -ms-flex-item-align: center;

  -ms-grid-row-align: center;

  align-self: center;

  width: 70%;

    /* permet de ne pas élargir l'image, s'aligne sur lui même */;

}



.artistes figcaption {

  text-align: center;

  margin-top: 2rem;

}



.artistes h2 {

  text-align: -webkit-right;

}



.artistes section,

.hygiene article {

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-pack: justify;

  -webkit-justify-content: space-between;

  -ms-flex-pack: justify;

  justify-content: space-between;

  margin: 6rem 0;

}



.artistes figcaption p {

  text-align: left;

  margin: 3rem 0;

  font-size: 1.2rem;

}



.artistes span {

  font-size: .9rem;

  font-style: italic;

}



.artistes figure {

  padding: 1rem;

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -webkit-flex-direction: column;

  -ms-flex-direction: column;

  flex-direction: column;

  margin: 0;

}



.artistes figure span,

.artistes figure h4 {

  text-align: center;

  display: block;

}



.artistes a {
    font-size: .7rem;
    padding-left: 10%;
}




.artistes figcaption img:last-of-type {

  width: 2rem;

  display: block;

  margin: auto;

  margin-top: 3rem;

}





/* HYGIENE & SOIN */



.hygiene figcaption {

  width: 40%;

}



.hygiene img {

  width: 50%;

  -webkit-align-self: center;

  -ms-flex-item-align: center;

  -ms-grid-row-align: center;

  align-self: center;

}



#nav-hygiene {

  left: 0;

  z-index: 0;

}



.menu-soin {

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  -webkit-justify-content: space-around;

  -ms-flex-pack: distribute;

  justify-content: space-around;

  margin-top: 10rem;

  font-size: 1.7rem;

}



/* CONTACT ET INFOS */

.contact section {

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

}



/* Formulaire et Infos shop 221 (adresse, horaires)*/

.contact-section h2 {

  text-align: center;

}



.contact-section > div {

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

}



.form {

  width: 38%;

  position:relative;

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  background-color:#fff;

  right:15%;

  height: 30%;

  top:50%;

  -webkit-box-shadow: 14px 11px 20px rgba(0,0,0,0.2);

          box-shadow: 14px 11px 20px rgba(0,0,0,0.2);

}



.form input {

  margin-bottom: 2rem;

}



.form input[type="text"] {

  border: none;

  border-bottom: .1rem solid #9c2129;

  outline: none;

  font-size: 1.6rem;

  padding: 1.5rem 0rem;

}



input[type="file"],

input[type="submit"] {

  display: block;

}

/* // on personnalise le label comme on veut */

input[type="file"] {

    cursor: pointer;

    color: #00b1ca;

}

input[type="file"]:hover {

    color: #25a5c4;

}



textarea {

  resize: none;

  outline: none;

  border: 1px solid rgba(0, 0, 0, 0.27);

}



label {

  display: block;

}



form {

  margin: auto;

}



.infos {

  background-color: #9c2129;

  color: white;

  padding: 11rem 6rem;

  width: 50%;

  font-weight: 600;

}



.infos legend {

  display: inline-block;

}



.infos h4 {

  font-size: 2.5rem;

  text-transform: uppercase;

  margin: 2rem 0;

}









 /* test */

#imperatifDiv {

  display: none;

}



@-webkit-keyframes showdiv {

  0% {

    opacity: 0;

  }



  100% {

    opacity: 1;

  }

}









/* FOOTER */

footer {

  position: relative;

  background-color: #202020;

  width: 100%;

  min-height: 9%;

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  height: 80px;

}



footer ul li a {

  margin-right: 0.8rem;

  font-weight: 500;

  color: rgba(209,209,209,1);

}



footer ul li a:hover {

  color: #fff;

}



#lien:hover ul li {

  color: red;

}



#lien {

  position: absolute;

  top: 40%;

  left: 5%;

  width: 90%;

}



.social {

  position: absolute;

  right: 5%;

  top: 50%;

}



a.facebook {

  width: 16px;

  height: 16px;

  background: url("../img/facebook-gris.png") no-repeat left top;

  display: block;

}



a.facebook:hover {

  background: url("../img/facebook-blanc.png") no-repeat left top;

}



a.instagram {

  width: 16px;

  height: 16px;

  background: url("../img/instagram-gris.png") no-repeat left top;

  display: block;

}



a.instagram:hover {

  background: url("../img/instagram-blanc.png") no-repeat left top;

}







/* MEDIAS QUERIES */

    /* TABLET */

@media (max-width: 768px) {

  /* DEBUT BURGER MENU */
    
    .menu {
        display: block;
    }
    .menu__body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    #menu--toggle[type="checkbox"]:not(:checked),
    #menu--toggle[type="checkbox"]:checked {
        display: none;
    }
    /* Les 3 barres du menu */
    
    .menu--toggle__trigger,
    .menu--toggle__burger,
    .menu--toggle__burger:before,
    .menu--toggle__burger:after {
        position: absolute;
        top: 1.6em;
        right: 2em;
        width: 2em;
        height: 5px;
        background-color: #282828;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;
        z-index: 100;
        -webkit-transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
        -o-transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    .menu--toggle__trigger {
        height: 2em;
        background: none;
    }
    .menu--toggle__burger:before {
        content: "";
        top: 10px;
        left: 0;
    }
    .menu--toggle__burger:after {
        content: "";
        top: 20px;
        left: 0;
    }
    .menu__body {
        position: fixed;
        width: 7em;
        height: 7em;
        right: 0;
        margin: 0;
        padding: 0;
        background-color: #fcfcfc;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 100%;
        border-bottom-left-radius: 100%;
        -webkit-box-shadow: 3px 3px 7px rgba(40, 40, 40, 0.2);
        box-shadow: 3px 3px 7px rgba(40, 40, 40, 0.2);
        z-index: 10;
        -webkit-animation: checkboxUncheckedAnimation 0.35s both;
        animation: checkboxUncheckedAnimation 0.35s both;
    }
    .menu__body-element,
    .menu__body-link {
        display: none;
        margin: 4.4em 0 -3.3em -.1em;
        color: #282828;
    }
    .menu__body-element {
        text-align: center;
    }
    #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger {
        top: 35px;
        -webkit-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
        transform: rotate(405deg);
        -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:before {
        top: 0;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:after {
        top: 0;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger + .menu__body {
        -webkit-animation: checkboxCheckedAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
        animation: checkboxCheckedAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
    }
    #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-element,
    #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-link {
        display: block;
        font-weight: bold;
        font-size: 2.8rem;
    }
    #menu--toggle,
    .menu--toggle__trigger,
    .menu--toggle__burger {
        position: fixed;
    }

      /* NAV */
    
    #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-element,
    #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-link {
        font-size: 1.5rem;
    }
    .main-nav {
        display: none;
    }
    /**
 *  Animations
 */
    
    @-webkit-keyframes checkboxNoCheckedAnimation {
        50%, 100% {
            width: auto;
            height: auto;
        }
        100% {
            -webkit-border-radius: 0;
            border-radius: 0;
        }
    }
    @keyframes checkboxNoCheckedAnimation {
        50%, 100% {
            width: auto;
            height: auto;
        }
        100% {
            -webkit-border-radius: 0;
            border-radius: 0;
        }
    }
    @-webkit-keyframes checkboxCheckedAnimation {
        50%, 100% {
            width: 100vw;
            height: 100vh;
        }
        100% {
            -webkit-border-radius: 0;
            border-radius: 0;
        }
    }
    @keyframes checkboxCheckedAnimation {
        50%, 100% {
            width: 100vw;
            height: 100vh;
        }
        100% {
            -webkit-border-radius: 0;
            border-radius: 0;
        }
    }
    @-webkit-keyframes checkboxUncheckedAnimation {
        0% {
            width: 100vw;
            height: 100vh;
        }
    }
    @keyframes checkboxUncheckedAnimation {
        0% {
            width: 100vw;
            height: 100vh;
        }
    }
    @-webkit-keyframes changeWidthOfElementAnimation {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    /* FIN BURGER MENU */
    

  nav ul {

    display: none;

  }

}

/*  pour écran de moins de 480 px */

@media (max-width: 480px) {



  .salon-presentation img {

    -webkit-align-self: center;

    -ms-flex-item-align: center;

    -ms-grid-row-align: center;

    align-self: center;

    width: 100%;

    margin: 3rem 0;

        /* permet de ne pas élargir l'image, s'aligne sur lui même */;

  }



  .salon-presentation figure {

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -webkit-flex-direction: column;

    -ms-flex-direction: column;

    flex-direction: column;

  }



  .salon-presentation figcaption {

    width: 100%;

    text-align: -webkit-center;

  }



  .artistes div {

    margin: 0 auto 4rem;

    width: 100%;

    background-position: 53% -10%;

  }



  .salon-presentation, .contact-section {

    margin: 12rem 0;

  }



  .salon-presentation figure, .hygiene figure, .artistes section, .hygiene article {

    margin: 3rem 0;

  }



  .artistes a {

    font-size: .7rem;

  }



  .artistes section {

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -webkit-flex-direction: column;

    -ms-flex-direction: column;

    flex-direction: column;

  }



  .hygiene figure {

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -webkit-flex-direction: column;

    -ms-flex-direction: column;

    flex-direction: column;

  }



  .hygiene img, .hygiene figcaption {

    width: 100%;

    margin-bottom: 5rem;

  }
}